/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Aug-2020, 22:32:03
    Author     : abdullah
*/

.bmargin
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}
.font
{
    font-size: 50px;
    text-align: center
}

.bpadding{
    padding: 15%;
}
.smallpadding
{
     padding: 5%;
}